{% extends "layouts/base.njk" %}

{% block body %}
  {% include "partials/header.njk" %}
  <main id="main">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.njk" %}
  {% include "partials/cookie-notice.njk" %}
{% endblock %}
